BnetLog.txt
Test.txt
__pycache__
Temp.png
Temp2.png
img.png
Temp
video.mp4
errors.txt
presentation/*
data/*
installation/*
test_data/*
development/*
initialization_data/consumable_items_test
initialization_data/inventory_items
*.vscode
temp.py
temp_2.py
take_screenshots.py
test_object_detection.py